<!DOCTYPE html>
{% load static %}
<html lang="en">

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="">
    <title>Proyecto</title>
    <!--Import Google Icon Font-->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static '/school/css/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Oswald|Material+Icons|Pontano+Sans|Yrsa" rel="stylesheet">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

{% endblock %}

 {% block content %}
<body>


</body>
{% endblock %}
</html>