{% load staticfiles %}
<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="">
	<title>{% block title %}PANEL{% endblock %}</title>
	<!--Import Google Icon Font-->

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="{% static '/school/css/style.css' %}"/>
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Oswald|Material+Icons|Pontano+Sans|Yrsa" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
{% block panel %}
<div class="panel">
	{% block menuPanel %}
	<div class="menu-panel">
		<div class="title-menu">
			<ul>
				<li class="title"><a href="/">grade Management system</a></li>
				<li class="user"><i class="material-icons">account_circle</i>{% block username %} Alvaro Hernández {% endblock %}<br>{% block role %} Role {% endblock %}</li>
			</ul>
			<div>
				<ul class="dashboard-t">
					<li><a href=""><i class="material-icons">dashboard</i>Dashboard</a></li>
					<li><a href="{% url 'logout' %}"><i class="material-icons">keyboard_arrow_left</i>Salir</a></li>
				</ul>
			</div>
		</div>
		<div class="content-menu">
			<ul>
				<li>{% block tipo-usuario %}<a href="teacher.html"><i class="material-icons">assignment_ind</i> teacher</a>{% endblock %}</li>
			</ul>
		</div>
	</div>
	{% endblock %}
	{% block container-panel%}
	<div class="container-panel">
		<div class="header-panel">
			{% block header-panel %}
			dashboard
			{% endblock %}
		</div>
		<div class="content-panel">
			<h5 class="title">{% block title-content-panel %}Resumen Escolar{% endblock %}</h5>
			<p>
				Año escolar: <span>{% block year %}2018{% endblock %}</span><br> periodo <span>{% block periodo %}1{% endblock %}</span>{% block dato-adicional %}<br> promedio: <span>1.1</span>{% endblock %}</p>
			<h5 class="title-table">{% block sub-title-content-panel %}notas por asignaturas{% endblock %}</h5>
			{% block contenido-panel %}
			Aquí va el contenido
			{% endblock %}
		</div>
	</div>
	{% endblock %}
</div>
{% endblock %}
{% block scrips %}
<meta charset="UTF-8">

{% block extrastatic %}
{% endblock %}



{% block extrajs %}
{% endblock %}

{% endblock %}
</body>












