{% extends 'base_generic.html' %}

{% block content %}
    <head>
        <style>
            .alvaro {
                background-color: white;
                position: absolute;
                top:0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 10%;
                }

        </style>

    </head>
	<body>
    <div class="alvaro">
        <div class="col s12 m6 l6 content-form-login">
                <div class="form-login animated fadeIn delay-1s">

                        <div class="title-login">
                           Reset password
                        </div>
                        <form method="post">
							{% csrf_token %}
							<label for="id_email">E-mail:</label> {{ form.email }}
							<input type="submit" value="Send"/>
						</form>

                </div>
            </div>
    </div>

	</body>
{% endblock %}


