{% extends 'base_generic.html' %}
{% block content %}

{% if validlink %}
<div class="col s12 m6 l6 content-form-login">
    <div class="form-login animated fadeIn delay-1s">
        <div class="title-login">
            New Password
        </div>

        <form method="post">
        {% csrf_token %}

        {{ form.new_password1.errors }}
        <label for="id_new_password1">New Password:</label>
        {{ form.new_password1 }}

        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confir Password:</label>{{ form.new_password2 }}
        <input type="submit" value="Reset password" />
        </form>

        {% else %}

        <h3 class="text-center">Invalid Link: THIS LINK HAS ALREADY BEEN USED!</h3>
    </div>
</div>
{% endif %}

{% endblock %}