{% extends 'base_generic.html' %}
{% block content %}

	<h1 class="text-center">Your password was reset correctly</h1>


	<p class="text-center"><a  href="{% url 'login' %}">Login</a></p>

{% endblock %}