
{% extends 'base_generic.html' %}
{% block content %}
<div class="col s12 m6 l6 content-form-login">
                <div class="form-login animated fadeIn delay-1s">
                    <div class="input-field col s12"><br><br></div>
                    <div class="input-field col s12">
                        <p>
                        <span style="color:gray">We have sent you an<span style="color:blue;font-weight:bold"> email</span>
                            with a<span style="color:darkred;font-weight:bold"> link</span> to reset your password.</span></p>
                    </div>

                </div>
            </div>

{% endblock %}
