{% extends 'base.html' %}
{% block title %}Config{% endblock %}
{% block tipo-usuario %}
<a href="/config"><i class="material-icons">build</i> admin</a>
{% endblock%}
{% block dato-adicional %}
{% endblock %}
{% block sub-title-content-panel %}
Edit teacher
{% endblock %}
{% block contenido-panel %}
<div class="row">
    <form class="col s12" method="post">
        <div class="row">
            <div class="input-field col s6">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s6">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="input-field col s12">
            <button class="btn-floating btn" type="submit"> add</button>
        </div>
    </form>
</div>
{% endblock %}