{% extends 'base.html' %}
{% block title %}Config{% endblock %}
{% block tipo-usuario %}
<a href="/config"><i class="material-icons">build</i> admin</a>
{% endblock%}
{% block dato-adicional %}
{% endblock %}
{% block sub-title-content-panel %}
students edit
{% endblock %}
{% block contenido-panel %}
<div class="row">
        <form class="col s12" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    {{ form.name.label }}
                    {{ form.name }}

                </div>
                <div class="input-field col s6">
                    {{ form.last_name.label }}
                    {{ form.last_name }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    {{ form.age.label }}
                    {{ form.age }}
                </div>
                <div class="input-field col s6">
                    {{ form.email.label}}
                    {{ form.email}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form2.password1.label }}
                    {{ form2.password1 }}
                </div>
                <div class="input-field col s12">
                    {{ form2.password2.label }}
                    {{ form2.password2 }}
                </div>
            </div>
            <div class="input-field col s12">
                <button class="btn-floating btn" type="submit">Edit</button>
            </div>

        </form>
    </div>
{% endblock %}
