{% extends 'base.html' %}
{% block title %}Config{% endblock %}
{% block username %} {{ username }} {% endblock %}
{% block role %} {{ role }} {% endblock %}
{% block tipo-usuario %}
<a href=""><i class="material-icons">build</i> admin</a>
{% endblock%}
{% block dato-adicional %}
{% endblock %}
{% block sub-title-content-panel %}
students and teachers
{% endblock %}
{% block contenido-panel %}
<table class="responsive-table centered">
    <thead>
    <th>User Tipe</th>
    <th>Quantity</th>
    <th>Edit</th>
    </thead>
    <tr>
        <td>Teachers</td>
        <td>{{ teachers }}</td>
        <td><a href="./teachers" class="btn-floating waves-effect waves-light black"><i class="material-icons large">edit</i></a>
        </td>
    </tr>
    <tr>
        <td>Students</td>
        <td>{{ students }}</td>
        <td><a href="./students" class="btn-floating waves-effect waves-light black"><i class="material-icons large">edit</i></a>
        </td>
    </tr>
    <tr>
        <td>Subjects</td>
        <td>{{ subjects }}</td>
        <td><a href="./subjects" class="btn-floating waves-effect waves-light black"><i class="material-icons large">edit</i></a>
        </td>
    </tr>
    <tr>
        <td>Courses</td>
        <td>{{ courses }}</td>
        <td><a href="./cursos" class="btn-floating waves-effect waves-light black"><i class="material-icons large">edit</i></a>
        </td>
    </tr>
    <tr>
        <td>Registers</td>
        <td>{{ records }}</td>
        <td><a href="./enrollments" class="btn-floating waves-effect waves-light black"><i class="material-icons large">edit</i></a>
        </td>
    </tr>
</table>
{% endblock %}
