{% extends 'base.html' %}
{% block title %}Config{% endblock %}
{% block tipo-usuario %}
<a href="/config"><i class="material-icons">build</i> admin</a>
{% endblock%}
{% block dato-adicional %}
<br>
<a href="./enrollment/add" class="btn-floating waves-effect waves-light black"><i class="material-icons large">add_box</i></a>
{% endblock %}
{% block sub-title-content-panel %}
Add Registers
{% endblock %}
{% block contenido-panel %}
<div class="row">

        <form class="col s12" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s4">
                    {{ form.student_id.label }}
                    {{ form.student_id }}
                </div>
                <div class="input-field col s4">
                    {{ form.subject_id.label }}
                    {{ form.subject_id }}
                </div>
                <div class="input-field col s4">
                    {{ form.course_id.label }}
                    {{ form.course_id }}
                </div>

            </div>

            <div class="input-field col s12">
                <button class="btn-floating btn" type="submit">add</button>
            </div>

        </form>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
    	$('select').formSelect();
		});
	</script>
{% endblock %}
