{% extends 'base.html' %}
{% block title %}Config{% endblock %}
{% block tipo-usuario %}
<a href="/config"><i class="material-icons">build</i> admin</a>
{% endblock%}
{% block dato-adicional %}
<br>
<a href="./student/add" class="btn-floating waves-effect waves-light black"><i class="material-icons large">add_box</i></a>
{% endblock %}
{% block sub-title-content-panel %}
students and teachers
{% endblock %}
{% block contenido-panel %}
    <table class="responsive-table centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% if students %}
            {% for student in students  %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.age }}</td>
                    <td>{{ student.email }}</td>
                    <td><a href="{% url 'school:configStudentEdit' student.id %}" class="btn-floating waves-effect waves-light black"><i
                            class="material-icons large">edit</i></a>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <h1>There is no student register</h1>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
