{% extends 'base.html' %}
{% block title %}Config{% endblock %}
{% block tipo-usuario %}
<a href="/config"><i class="material-icons">build</i> admin</a>
{% endblock%}
{% block dato-adicional %}
<br>
<a href="./curso/add" class="btn-floating waves-effect waves-light black"><i class="material-icons large">add_box</i></a>
{% endblock %}
{% block sub-title-content-panel %}
cursos
{% endblock %}
{% block contenido-panel %}
<table class="responsive-table centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Grade</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% if courses %}
            {% for course in courses %}
                <tr>
                    <td>{{ course.id }}</td>
                    <td>{{ course.grade }}</td>
                    <td><a href="./student/edit" class="btn-floating waves-effect waves-light black"><i
                            class="material-icons large">edit</i></a>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <h1>There is no Course register</h1>
            {% endif %}
        </tbody>
    </table>
</table>
{% endblock %}
