{% extends 'base.html' %}
{% block title %}Config{% endblock %}
{% block tipo-usuario %}
<a href="/config"><i class="material-icons">build</i> admin</a>
{% endblock%}
{% block dato-adicional %}
<br>
<a href="./enrollment/add" class="btn-floating waves-effect waves-light black"><i class="material-icons large">add_box</i></a>
{% endblock %}
{% block sub-title-content-panel %}
matriculas
{% endblock %}
{% block contenido-panel %}
    <table class="responsive-table centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Student Name</th>
                <th>Subject Name</th>
                <th>Course Name</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% if registers %}
            {% for register in registers %}
                <tr>
                    <td>{{ register.id }}</td>
                    <td>{{ register.student_id }}</td>
                    <td>{{ register.subject_id }}</td>
                    <td>{{ register.course_id }}</td>
                    <td><a href="./student/edit" class="btn-floating waves-effect waves-light black"><i
                            class="material-icons large">edit</i></a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <h1>There is no Enrollment register</h1>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
