{% extends 'base.html' %}
{% block title %}Config{% endblock %}
{% block tipo-usuario %}
<a href="/config"><i class="material-icons">build</i> admin</a>
{% endblock%}
{% block dato-adicional %}
<br>
<a href="./teacher/add" class="btn-floating waves-effect waves-light black"><i class="material-icons large">add_box</i></a>
{% endblock %}
{% block sub-title-content-panel %}
teachers
{% endblock %}
{% block contenido-panel %}
<table class="responsive-table centered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
    {% if teachers %}
    {% for teacher in teachers %}
    <tr>
        <td>{{ teacher.id }}</td>
        <td>{{ teacher.name }}</td>
        <td>{{ teacher.last_name }}</td>
        <td>{{ teacher.email }}</td>
        <td><a href="./teacher/edit" class="btn-floating waves-effect waves-light black"><i
                class="material-icons large">edit</i></a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <h1>There is no Teacher register</h1>
    {% endif %}
    </tbody>
</table>
{% endblock %}
