{% extends 'base.html' %}
{% block title %}Config{% endblock %}
{% block tipo-usuario %}
<a href="/config"><i class="material-icons">build</i> admin</a>
{% endblock%}
{% block dato-adicional %}
<br>
<a href="./enrollment/add" class="btn-floating waves-effect waves-light black"><i class="material-icons large">add_box</i></a>
{% endblock %}
{% block sub-title-content-panel %}
edit matriculas
{% endblock %}
{% block contenido-panel %}
edita
{% endblock %}