{% extends 'base.html' %}
{% block title %}Config{% endblock %}
{% block tipo-usuario %}
<a href="/config"><i class="material-icons">build</i> admin</a>
{% endblock%}
{% block dato-adicional %}
{% endblock %}
{% block sub-title-content-panel %}
Add curso
{% endblock %}
{% block contenido-panel %}
<div class="row">

        <form class="col s12" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    {{ form.grade.label }}
                    {{ form.grade }}

                </div>

            </div>

            <div class="input-field col s12">
                <button class="btn-floating btn" type="submit">add</button>
            </div>

        </form>
    </div>
{% endblock %}
