
{% block content %}

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="">
    <title>Proyecto</title>
    <!--Import Google Icon Font-->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static '/school/css/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Oswald|Material+Icons|Pontano+Sans|Yrsa" rel="stylesheet">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
</head>
<body>
<div class="background-home">
    <div class="container-home">
        <div class="row ">
            <div class="col s12 m6 l6">
                <div class="content-titleHome">
                    <h1>
                        <span class="grade animated fadeIn">grade</span>
                        <span class="management animated fadeIn delay-1s">management</span>
                        <span class="system animated fadeIn delay-2s">system</span></h1>
                </div>
            </div>
            <div class="col s12 m6 l6 content-form-login">
                <div class="form-login animated fadeIn delay-1s">
                 
                    {% if not user.is_authenticated  %}

                    <form class="form row" method="POST">
                        {% csrf_token %}
                        <div class="title-login">
                            enter user
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">User</i>
                            <input placeholder="user"  id="email-l" name="username" type="text" value ="">
                            <label for="email-l">
                                User
                            </label>
                        </div>
                        <div class="input-field text-center col s12">
                            <i class="material-icons prefix">lock</i>
                            <input placeholder="password" name="password"  id="pass-l" type="password" value="">
                            <label for="email-l">
                                Password
                            </label>
                        </div>
                        <div class="col s12">
                            <button class="btn - btn-primary" type="submit">Login</button>
                            <input type="hidden" name="next" value="/">
                        </div>
                          <div class="row">
                        <br>
                        <br>
                        <a href="{% url 'password_reset' %}" class="link-forgot">Forgot account?</a>
           </div>

                    
                {% endif %}

                </form>
<div>
        {% if contex %}
                <p><span style="color:white">  Your<span style="color:blue;font-weight:bold">  username </span>and
                <span style="color:darkred;font-weight:bold"> password</span>
                didn't match. Please try again. </span></p>{% endif %}
</form>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>

{% endblock %}