{% extends 'base.html' %}
{% block title %}Student{% endblock %}
{% block username %} {{ username }} {% endblock %}
{% block role %} {{ role }} {% endblock %}
{% block tipo-usuario %}
        <a href=""><i class="material-icons">assignment</i> student</a>
{% endblock%}
{% block contenido-panel %}
{% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Score 1</td>
                <td>Score 2</td>
                <td>Score 3</td>
            </tr>

        </thead>
        <tbody>
            {% if Subjects %}
            {% for subt in Subjects %}
                <tr>
                    {% for i in subt %}
                        <td>{{ i }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

            {% else %}
            <h1>No hay registro de materias</h1>
            {% endif %}
        </tbody>
    </table>
{% endblock %}