
{% extends 'base.html' %}
{% block title %}Teacher{% endblock %}
{% block username %} {{ username }} {% endblock %}
{% block role %} {{ role }} {% endblock %}
{% block tipo-usuario %}
<a href=""><i class="material-icons">assignment_ind</i> teacher </a>
{% endblock%}
{% block dato-adicional %}
{% endblock %}
{% block sub-title-content-panel %}
asignaturas asignadas
{% endblock %}
{% block contenido-panel %}
<table class="responsive-table centered">
    <thead>
    <th>Subject id</th>
    <th>Subject</th>
    <th>see</th>
    </thead>
     <tbody>
            {% if Subs %}
            {% for list in Subs %}
                <tr>
                    {% for i in list %}
                        <td>{{ i }}</td>
                    {% endfor %}
                  <td><a href= "{% url 'school:subjects' list.id %}" class="btn-floating waves-effect waves-light black"><i class="material-icons large" >edit</i></a>
                  </td>
                </tr>
                {% endfor %}

            {% else %}
            <h1>No hay registro de cursos</h1>
            {% endif %}
        </tbody>
</table>
{% endblock %}



