{% extends 'base.html' %}
{% block title %}Teacher/Subject/Student{% endblock %}
{% block tipo-usuario %}
<a href="/teacher"><i class="material-icons">assignment_ind</i> teacher</a>
{% endblock%}
{% block dato-adicional %}<br>estudiante: <span>José támara</span><br>codigo: <span>123</span>{% endblock %}
{% block sub-title-content-panel %}
asignaturas asignadas
{% endblock %}
{% block contenido-panel %}
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="nota" type="text" class="validate">
                <label for="nota">Nota</label>
            </div>
        </div>
        <div class="input-field col s12">
            <button class="btn-floating btn"> add</button>
        </div>
    </form>
</div>
{% endblock %}