{% extends 'base.html' %}
{% block title %}Teacher/Subject{% endblock %}
{% block tipo-usuario %}
<a href="/teacher"><i class="material-icons">assignment_ind</i> teacher</a>
{% endblock%}
{% block dato-adicional %}
{% endblock %}
{% block sub-title-content-panel %}
asignaturas asignadas
{% endblock %}
{% block contenido-panel %}
<table class="table">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Score 1</td>
                <td>Score 2</td>
                <td>Score 3</td>
            </tr>

        </thead>
        <tbody>
           {% if notes %}
            {% for list in notes %}
                <tr>
                    {% for i in list %}
                        <td>{{ i }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

            {% else %}
            <h1>No hay registro de materias</h1>
            {% endif %}
        </tbody>
    </table>
{% endblock %}