{% extends 'base.html' %}
{% block title %}Teacher/Subject{% endblock %}
{% block tipo-usuario %}
<a href="/teacher"><i class="material-icons">assignment_ind</i> teacher</a>
{% endblock%}
{% block dato-adicional %}
{% endblock %}
{% block sub-title-content-panel %}
asignaturas asignadas
{% endblock %}
{% block contenido-panel %}
<table class="responsive-table centered">
    <thead>
    <th>nombre</th>
    <th>código estudiante</th>
    <th>nota1</th>
    <th>nota2</th>
    <th>nota3</th>
    <th>Promedio</th>
    <th>Edit</th>
    </thead>
    <tr>
        <td>José Támara</td>
        <td>12</td>
        <td>5</td>
        <td>5</td>
        <td>5</td>
        <td>5</td>
        <td><a href="./subject/student" class="btn-floating waves-effect waves-light black"><i class="material-icons large">edit</i></a>
        </td>
    </tr>
    <tr>
        <td>José Támara</td>
        <td>15</td>
        <td>5</td>
        <td>5</td>
        <td>5</td>
        <td>5</td>
        <td><a href="./subject/student" class="btn-floating waves-effect waves-light black"><i class="material-icons large">edit</i></a>
        </td>
    </tr>
</table>
{% endblock %}